/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'FaktProUI-Blond';
  src: url(./fonts/FaktProUI-Blond.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktProUI-SemiBold';
  src: url(./fonts/FaktProUI-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktPro-Blond';
  src: url(./fonts/FaktPro-Blond.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktPro-Normal';
  src: url(./fonts/FaktPro-Normal.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktProUI-Medium';
  src: url(./fonts/FaktProUI-Medium.ttf) format("truetype");
}
/* line 33, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'FaktProUI-Blond';
}

/* line 39, ../sass/screen.scss */
h1 {
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  color: #fff;
}

/* line 46, ../sass/screen.scss */
h2 {
  line-height: 60px;
  font-size: 36px;
  color: #333333;
}

/* line 52, ../sass/screen.scss */
.h2-customers {
  line-height: 54px;
  text-align: center;
}

/* line 57, ../sass/screen.scss */
.h2-stats {
  line-height: 48px;
  padding: 25px 0;
}

/* line 62, ../sass/screen.scss */
h3 {
  font-family: 'FaktPro-Normal';
  line-height: 32px;
  font-size: 20px;
  color: #5C666F;
  text-align: center;
}

/* line 70, ../sass/screen.scss */
.h3-carousel {
  padding: 25px 0 75px 0;
}

/* line 74, ../sass/screen.scss */
.h3-link {
  line-height: 40px;
  color: #222228;
  margin: 25px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 84, ../sass/screen.scss */
.h3-stats {
  line-height: 34px;
  text-align: left;
}

/* line 89, ../sass/screen.scss */
h4 {
  font-family: 'FaktPro-Blond';
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #D0D2D3;
}

/* line 97, ../sass/screen.scss */
h5 {
  font-family: 'FaktPro-Blond';
  line-height: 72px;
  font-size: 72px;
  color: #222228;
  padding: 25px 0;
}

/* line 105, ../sass/screen.scss */
.emphasis {
  color: #e9552f;
}

/* line 109, ../sass/screen.scss */
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #222228;
  left: 5px;
  position: relative;
}

/* line 119, ../sass/screen.scss */
header {
  width: 100%;
  height: 110%;
  overflow: hidden;
  position: absolute;
}

/* line 126, ../sass/screen.scss */
#hero {
  width: 100%;
  height: auto;
  transform: translate(0%, -25%);
}

/* line 132, ../sass/screen.scss */
aside {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
}

/* line 144, ../sass/screen.scss */
main {
  height: 100%;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}

/* line 152, ../sass/screen.scss */
.carousel {
  background: #F8F8F8;
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: auto;
  width: 75%;
  margin: 0 auto;
}

/* line 161, ../sass/screen.scss */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px;
}

/* line 168, ../sass/screen.scss */
.slide-list-nav-container {
  padding: 40px 60px;
}

/* line 172, ../sass/screen.scss */
.slide-list-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* line 180, ../sass/screen.scss */
.slide-list-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 23px;
  font-size: 14px;
  font-family: 'FaktProUI-SemiBold';
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D0D2D3;
}

/* line 192, ../sass/screen.scss */
.slide-list-nav-item.selected {
  color: #222228;
}

/* line 196, ../sass/screen.scss */
.dot {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #D0D2D3;
}

/* line 203, ../sass/screen.scss */
.slide-list-nav-item.selected .dot {
  background: #222228;
}

/* line 207, ../sass/screen.scss */
.slide video {
  height: auto;
  width: 100%;
}

/* line 212, ../sass/screen.scss */
.slide.selected {
  display: block;
}

/* line 216, ../sass/screen.scss */
.slide {
  display: none;
}

/* line 220, ../sass/screen.scss */
.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px 50px 50px 50px;
}

/* line 228, ../sass/screen.scss */
.cloud-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* line 237, ../sass/screen.scss */
.cloud-image {
  height: 15%;
  width: 15%;
  padding: 10px;
}

/* line 243, ../sass/screen.scss */
.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid #E2E2E2;
}

/* line 251, ../sass/screen.scss */
.stats-column {
  width: 50%;
  padding: 50px;
}

/* line 256, ../sass/screen.scss */
.stats-column:first-of-type {
  border-right: 1px solid #E2E2E2;
}

/* line 260, ../sass/screen.scss */
.stats-table {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* line 266, ../sass/screen.scss */
.stats-table-column {
  width: 50%;
}

/* line 270, ../sass/screen.scss */
.stats-list {
  font-family: 'FaktProUI-Medium';
  line-height: 28px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.86);
}

/* line 277, ../sass/screen.scss */
.stats-list.small {
  line-height: 25px;
}

/* line 281, ../sass/screen.scss */
.stats-list-detail {
  font-family: 'FaktProUI-Medium';
  line-height: 25px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.86);
  mix-blend-mode: normal;
  opacity: 0.5;
}
