/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Font Imports */
@font-face {
  font-family: 'FaktProUI-Blond';
  src: url(./fonts/FaktProUI-Blond.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktProUI-SemiBold';
  src: url(./fonts/FaktProUI-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktPro-Blond';
  src: url(./fonts/FaktPro-Blond.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktPro-Normal';
  src: url(./fonts/FaktPro-Normal.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktProUI-Medium';
  src: url(./fonts/FaktProUI-Medium.ttf) format("truetype");
}
/* Sass Variables */
/* Sass Mixins */
/* Large Screens - Larger Desktop */
@media screen and (min-width: 2001px) {
  /* line 171, ../sass/screen.scss */
  body .cloud-container {
    width: 50%;
  }
}
/* Medium Screens - Regular Desktop */
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  /* line 180, ../sass/screen.scss */
  body .cloud-container {
    width: 60%;
  }
}
/* Small Screens - Small Desktop, Landscape Large Tablets */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* line 189, ../sass/screen.scss */
  body .customers {
    top: -125px !important;
  }
  /* line 192, ../sass/screen.scss */
  body .cloud-container {
    width: 75%;
  }
}
/* Large Devices (tablet and smartphone), Desktop */
@media screen and (min-width: 900px) {
  /* line 201, ../sass/screen.scss */
  body .h3-stats {
    padding: 0;
  }
  /* line 204, ../sass/screen.scss */
  body h4 span {
    display: block;
  }
  /* line 207, ../sass/screen.scss */
  body .stats {
    flex-direction: row;
    border-top: 1px solid #E2E2E2;
  }
  /* line 211, ../sass/screen.scss */
  body .stats-column {
    width: 50%;
    padding: 50px;
  }
  /* line 215, ../sass/screen.scss */
  body .stats-column:first-of-type {
    /* risk-based */
    border-right: 1px solid #E2E2E2;
  }
  /* line 218, ../sass/screen.scss */
  body .stats-column-icon {
    display: none;
  }
  /* line 221, ../sass/screen.scss */
  body .stats-table {
    border: none;
  }
  /* line 224, ../sass/screen.scss */
  body .stats-table-column:first-of-type {
    border-right: none;
  }
  /* line 227, ../sass/screen.scss */
  body .stats-table-column {
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }
  /* line 232, ../sass/screen.scss */
  body .stats-list-cluster-icon-container {
    width: 75px;
    height: 50px;
    margin: 0;
  }
  /* line 237, ../sass/screen.scss */
  body .stats-list-cluster-icon {
    height: 17px;
    width: 17px;
    padding: 2.5px 5px;
  }
}
/* Small Devices (tablet and smartphone) */
@media screen and (min-width: 600px) {
  /* line 247, ../sass/screen.scss */
  body {
    /* need to verify below */
    /* end of made up values */
  }
  /* line 248, ../sass/screen.scss */
  body h1 {
    font-size: 72px;
    line-height: 80px;
  }
  /* line 252, ../sass/screen.scss */
  body h2 {
    font-size: 36px;
    line-height: 60px;
  }
  /* line 256, ../sass/screen.scss */
  body h3 {
    font-size: 20px;
    line-height: 32px;
  }
  /* line 260, ../sass/screen.scss */
  body h4 {
    font-size: 24px;
    line-height: 40px;
  }
  /* line 265, ../sass/screen.scss */
  body h5 {
    line-height: 72px;
    font-size: 72px;
  }
  /* line 269, ../sass/screen.scss */
  body p {
    font-size: 16px;
    line-height: 28px;
  }
  /* line 273, ../sass/screen.scss */
  body header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
  /* line 279, ../sass/screen.scss */
  body aside {
    top: 0;
    height: 75%;
    width: 100%;
  }
  /* line 284, ../sass/screen.scss */
  body .h2-customers {
    line-height: 54px;
  }
  /* line 288, ../sass/screen.scss */
  body .h2-stats {
    line-height: 24px;
    text-align: left;
  }
  /* line 293, ../sass/screen.scss */
  body .h3-link {
    justify-content: flex-start;
  }
  /* line 296, ../sass/screen.scss */
  body .h3-stats {
    text-align: left;
  }
  /* line 299, ../sass/screen.scss */
  body main {
    position: absolute;
    top: 75%;
    width: 100%;
  }
  /* line 304, ../sass/screen.scss */
  body .carousel {
    width: 75%;
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  /* line 309, ../sass/screen.scss */
  body .slide-list-nav {
    overflow: visible;
    white-space: normal;
    flex-wrap: wrap;
    padding: 25px;
    /*            &:before {
                    background: none;
                }*/
  }
  /* line 318, ../sass/screen.scss */
  body .slide-list-nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
  }
  /* line 327, ../sass/screen.scss */
  body .slide-list-nav-item {
    flex-direction: column;
    border: none;
    border-radius: 0;
    margin: 0;
  }
  /* line 333, ../sass/screen.scss */
  body .dot {
    margin: 5px 10px;
  }
  /* line 336, ../sass/screen.scss */
  body .customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 225px 50px 0px;
    background-image: url(https://meinsta.github.io/auth0-hpg/Hero/BG_map.svg);
    background-position: right -5px;
    /* start styles for nuanced map bg overlap */
    top: -100px;
    position: relative;
    z-index: -1;
    /* end styles for nuanced map bg overlap */
  }
  /* line 348, ../sass/screen.scss */
  body .cloud-image {
    width: 15%;
    padding: 0 2.5%;
  }
  /* line 352, ../sass/screen.scss */
  body .availability, body .risk-based {
    background-image: none;
  }
}
/* Mobile-First (smartphone, small tablet) Styles */
/* line 359, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'FaktProUI-Blond';
}

/* line 367, ../sass/screen.scss */
h1 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
}

/* line 373, ../sass/screen.scss */
h2 {
  color: #000;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

/* line 379, ../sass/screen.scss */
h3 {
  font-family: 'FaktPro-Normal';
  color: #5C666F;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
}

/* line 385, ../sass/screen.scss */
h4 {
  font-family: 'FaktPro-Blond';
  text-align: center;
  color: #D0D2D3;
  font-size: 16px;
  line-height: 32px;
}

/* line 391, ../sass/screen.scss */
h5 {
  font-family: 'FaktPro-Blond';
  color: #222228;
  padding: 25px 0;
  line-height: 36px;
  font-size: 36px;
}

/* line 398, ../sass/screen.scss */
p {
  font-size: 12px;
  line-height: 20px;
}

/* line 403, ../sass/screen.scss */
.h2-customers {
  line-height: 40px;
}

/* line 407, ../sass/screen.scss */
.h2-stats {
  line-height: 48px;
  padding: 25px 0;
}

/* line 412, ../sass/screen.scss */
.h3-carousel {
  padding: 0 0 50px;
}

/* line 416, ../sass/screen.scss */
.h3-link {
  line-height: 40px;
  color: #222228;
  margin: 25px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 421, ../sass/screen.scss */
.h3-stats {
  line-height: 34px;
  text-align: center;
  padding: 0 0 50px;
}

/* line 427, ../sass/screen.scss */
.emphasis {
  color: #e9552f;
}

/* line 431, ../sass/screen.scss */
.dot.use-case {
  background: #40BEEA;
}

/* line 435, ../sass/screen.scss */
.dot.technologies {
  background: #00B08C;
}

/* line 439, ../sass/screen.scss */
.dot.deployment {
  background: #E9CF51;
}

/* line 443, ../sass/screen.scss */
.dot.customization {
  background: #FB9D5E;
}

/* line 447, ../sass/screen.scss */
.dot.result {
  background: #EA5323;
}

/* line 451, ../sass/screen.scss */
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #222228;
  left: 5px;
  position: relative;
}

/* line 461, ../sass/screen.scss */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* line 465, ../sass/screen.scss */
#hero {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 471, ../sass/screen.scss */
aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  height: auto;
  top: auto;
  width: min-content;
}

/* line 478, ../sass/screen.scss */
main {
  height: 100%;
  z-index: 1;
  top: 0;
  position: relative;
}

/* line 484, ../sass/screen.scss */
.carousel {
  background: #F8F8F8;
  height: auto;
  margin: 0 auto;
  width: 100%;
  box-shadow: none;
}

/* line 490, ../sass/screen.scss */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 75px;
}

/* line 497, ../sass/screen.scss */
.text-wrapper {
  padding: 0 25px;
}

/* line 501, ../sass/screen.scss */
.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 507, ../sass/screen.scss */
#container, .new-carousel {
  height: 100%;
  margin: 0;
  width: 100%;
}

/* line 513, ../sass/screen.scss */
.image-slide {
  height: 100%;
  width: 100%;
  transition: background-image .3s ease-in-out;
}

/* line 519, ../sass/screen.scss */
.new-video, body .new-image-only {
  position: relative;
  z-index: 1;
  opacity: 1;
}

/* line 525, ../sass/screen.scss */
.new-image, body .new-video-hide {
  position: absolute;
  opacity: 0;
}

/* line 530, ../sass/screen.scss */
.video-carousel, .image-carousel {
  width: 100%;
  height: 100%;
  display: block;
}

/* transition so that animation is smooth */
/* line 537, ../sass/screen.scss */
.new-video {
  transition: all 2s;
}

/* line 541, ../sass/screen.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 546, ../sass/screen.scss */
.container video, .carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 554, ../sass/screen.scss */
.carousel-image {
  transform: scale(1.75);
  padding: 0 !important;
}

/* line 559, ../sass/screen.scss */
.image-carousel .container {
  height: 100%;
  width: 100%;
}

/* line 564, ../sass/screen.scss */
.image-container {
  overflow: hidden;
}

/* line 568, ../sass/screen.scss */
.video-react,
.image-container {
  padding-top: 0 !important;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

/* react styling override */
/* line 577, ../sass/screen.scss */
.video-react-big-play-button, .video-react-control-bar {
  display: none;
}

/* line 581, ../sass/screen.scss */
pre {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  background: rgba(255, 255, 255, 0.5);
}

/* line 589, ../sass/screen.scss */
button {
  background: transparent;
}

/* line 593, ../sass/screen.scss */
button:focus {
  outline: none;
  /* override for browser style */
}

/* line 597, ../sass/screen.scss */
.slide-list-nav-container {
  padding: 40px 60px;
}

/* line 601, ../sass/screen.scss */
.slide-list-nav {
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  padding: 50px 25px 0;
  height: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  scroll-behavior: smooth;
  /*    &:before {
          content: '';
          width: 100%;
          height: $height;
          position: absolute;
          pointer-events: none;
          background: linear-gradient(to left, #F8F8F8, transparent 90%);
      }*/
}
/* line 610, ../sass/screen.scss */
.slide-list-nav::-webkit-scrollbar {
  display: none;
}

/* line 623, ../sass/screen.scss */
.slide-list-nav-wrapper {
  width: 100%;
}

/* line 627, ../sass/screen.scss */
.slide-list-nav-item {
  display: inline-flex;
  align-items: center;
  line-height: 23px;
  font-size: 14px;
  font-family: 'FaktProUI-SemiBold';
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D0D2D3;
  transition: all 0.25s;
  cursor: pointer;
  flex-direction: row;
  height: 60px;
  pointer-events: all;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 0 5px;
  padding: 0 15px 0 10px;
}

/* line 638, ../sass/screen.scss */
.slide-list-nav-item.selected {
  color: #222228;
}

/* line 642, ../sass/screen.scss */
.slide-list-nav-item.completed {
  color: #000;
}

/* line 646, ../sass/screen.scss */
.dot {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background: #D0D2D3;
}

/* line 654, ../sass/screen.scss */
.slide-list-nav-item.selected .dot {
  background: #222228;
}

/* line 658, ../sass/screen.scss */
.slide video {
  height: auto;
  width: 100%;
}

/* line 663, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 667, ../sass/screen.scss */
.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  top: 0;
  padding: 50px 50px 25px 50px;
}

/* line 674, ../sass/screen.scss */
.cloud-container {
  padding: 25px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* line 679, ../sass/screen.scss */
.cloud-image {
  height: auto;
  width: 25%;
  padding: 0 12.5%;
}

/* line 685, ../sass/screen.scss */
.stats {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* line 690, ../sass/screen.scss */
.stats-column {
  box-sizing: border-box;
  width: auto;
  padding: 0 10px;
}

/* line 696, ../sass/screen.scss */
.availability {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 50%;
  background-image: url(https://meinsta.github.io/auth0-hpg/Hero/BG_map.svg);
}

/* line 702, ../sass/screen.scss */
.risk-based {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70px -20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)), url(https://meinsta.github.io/auth0-hpg/Hero/BG_touch.svg);
}

/* line 708, ../sass/screen.scss */
.stats-column-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

/* line 716, ../sass/screen.scss */
.stats-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
}

/* line 723, ../sass/screen.scss */
.stats-table-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 0 10px 25px;
}

/* line 730, ../sass/screen.scss */
.stats-table-column:first-of-type {
  border-right: 1px solid #E2E2E2;
}

/* line 734, ../sass/screen.scss */
.stats-list {
  font-family: 'FaktProUI-Medium';
  line-height: 28px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.86);
}

/* line 741, ../sass/screen.scss */
.stats-list.small {
  line-height: 25px;
}

/* line 745, ../sass/screen.scss */
.stats-list-detail {
  font-family: 'FaktProUI-Medium';
  line-height: 25px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.86);
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* line 754, ../sass/screen.scss */
.stats-list-cluster {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 760, ../sass/screen.scss */
.stats-list-cluster-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 45px;
  height: 30px;
  margin: 0 0 0 5px;
}

/* line 767, ../sass/screen.scss */
.stats-list-cluster-icon {
  height: 12px;
  width: 12px;
  padding: 0 5px 0;
}
