/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Font Imports */
@font-face {
  font-family: 'FaktProUI-Blond';
  src: url(./fonts/FaktProUI-Blond.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktProUI-SemiBold';
  src: url(./fonts/FaktProUI-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktPro-Blond';
  src: url(./fonts/FaktPro-Blond.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktPro-Normal';
  src: url(./fonts/FaktPro-Normal.ttf) format("truetype");
}
@font-face {
  font-family: 'FaktProUI-Medium';
  src: url(./fonts/FaktProUI-Medium.ttf) format("truetype");
}
/* Sass Variables */
/* Sass Mixins */
/* Large Screens - Larger Desktop */
@media screen and (min-width: 2001px) {
  /* line 175, ../sass/screen.scss */
  body .cloud-container {
    width: 50%;
  }
}
/* Medium Screens - Regular Desktop */
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  /* line 184, ../sass/screen.scss */
  body .cloud-container {
    width: 60%;
  }
}
/* Small Screens - Small Desktop, Landscape Large Tablets */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* line 193, ../sass/screen.scss */
  body .customers {
    top: -125px !important;
  }
  /* line 196, ../sass/screen.scss */
  body .cloud-container {
    width: 75%;
  }
}
/* Large Devices (tablet and smartphone), Desktop */
@media screen and (min-width: 900px) {
  /* line 205, ../sass/screen.scss */
  body .h3-stats {
    padding: 0;
  }
  /* line 208, ../sass/screen.scss */
  body h4 span {
    display: block;
  }
  /* line 211, ../sass/screen.scss */
  body .stats {
    flex-direction: row;
    border-top: 1px solid #E2E2E2;
  }
  /* line 215, ../sass/screen.scss */
  body .stats-column {
    width: 50%;
    padding: 50px;
  }
  /* line 219, ../sass/screen.scss */
  body .stats-column:first-of-type {
    /* risk-based */
    border-right: 1px solid #E2E2E2;
  }
  /* line 222, ../sass/screen.scss */
  body .stats-column-icon {
    display: none;
  }
  /* line 225, ../sass/screen.scss */
  body .stats-table {
    border: none;
  }
  /* line 228, ../sass/screen.scss */
  body .stats-table-column:first-of-type {
    border-right: none;
  }
  /* line 231, ../sass/screen.scss */
  body .stats-table-column {
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }
  /* line 236, ../sass/screen.scss */
  body .stats-list-cluster-icon-container {
    width: 75px;
    height: 50px;
    margin: 0;
  }
  /* line 241, ../sass/screen.scss */
  body .stats-list-cluster-icon {
    height: 17px;
    width: 17px;
    padding: 2.5px 5px;
  }
}
/* Small Devices (tablet and smartphone) */
@media screen and (min-width: 600px) {
  /* line 251, ../sass/screen.scss */
  body {
    /* need to verify below */
    /* end of made up values */
  }
  /* line 252, ../sass/screen.scss */
  body h1 {
    font-size: 72px;
    line-height: 80px;
  }
  /* line 256, ../sass/screen.scss */
  body h2 {
    font-size: 36px;
    line-height: 60px;
  }
  /* line 260, ../sass/screen.scss */
  body h3 {
    font-size: 20px;
    line-height: 32px;
  }
  /* line 264, ../sass/screen.scss */
  body h4 {
    font-size: 24px;
    line-height: 40px;
    padding: 10px 0;
  }
  /* line 270, ../sass/screen.scss */
  body h5 {
    line-height: 72px;
    font-size: 72px;
  }
  /* line 274, ../sass/screen.scss */
  body p {
    font-size: 16px;
    line-height: 28px;
  }
  /* line 278, ../sass/screen.scss */
  body header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
  /* line 284, ../sass/screen.scss */
  body aside {
    top: 0;
    bottom: auto;
    height: 75%;
  }
  /* line 289, ../sass/screen.scss */
  body .mobile-only {
    display: none;
  }
  /* line 292, ../sass/screen.scss */
  body #hero {
    opacity: 1;
  }
  /* line 295, ../sass/screen.scss */
  body .h2-customers {
    line-height: 54px;
  }
  /* line 299, ../sass/screen.scss */
  body .h2-stats {
    font-size: 36px;
    line-height: 48px;
    text-align: left;
  }
  /* line 305, ../sass/screen.scss */
  body .h3-link {
    justify-content: flex-start;
  }
  /* line 308, ../sass/screen.scss */
  body .h3-stats {
    text-align: left;
  }
  /* line 311, ../sass/screen.scss */
  body main {
    position: absolute;
    top: 75%;
    width: 100%;
  }
  /* line 316, ../sass/screen.scss */
  body .carousel {
    width: 75%;
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  /* line 321, ../sass/screen.scss */
  body .slide-list-nav {
    overflow: visible;
    white-space: normal;
    flex-wrap: wrap;
    padding: 25px;
    /*            &:before {
                    background: none;
                }*/
  }
  /* line 330, ../sass/screen.scss */
  body .slide-list-nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
  }
  /* line 339, ../sass/screen.scss */
  body .slide-list-nav-item {
    flex-direction: column;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0 25px 0 10px;
  }
  /* line 346, ../sass/screen.scss */
  body .slide-list-nav-item::before {
    top: -5px;
  }
  /* line 349, ../sass/screen.scss */
  body .customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 225px 50px 0px;
    background-image: url(https://meinsta.github.io/auth0-hpg/Hero/BG_map.svg);
    background-position: right -5px;
    /* start styles for nuanced map bg overlap */
    top: -100px;
    position: relative;
    z-index: -1;
    /* end styles for nuanced map bg overlap */
  }
  /* line 361, ../sass/screen.scss */
  body .cloud-image {
    width: 15%;
    padding: 0 2.5%;
  }
  /* line 365, ../sass/screen.scss */
  body .availability, body .risk-based {
    background-image: none;
  }
}
/* Mobile-First (smartphone, small tablet) Styles */
/* line 372, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'FaktProUI-Blond';
}

/* line 380, ../sass/screen.scss */
h1 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
}

/* line 386, ../sass/screen.scss */
h2 {
  color: #000;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

/* line 392, ../sass/screen.scss */
h3 {
  font-family: 'FaktPro-Normal';
  color: #5C666F;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
}

/* line 398, ../sass/screen.scss */
h4 {
  font-family: 'FaktPro-Blond';
  text-align: center;
  color: #D0D2D3;
  font-size: 16px;
  line-height: 32px;
}

/* line 404, ../sass/screen.scss */
h5 {
  font-family: 'FaktPro-Blond';
  color: #222228;
  padding: 25px 0;
  line-height: 36px;
  font-size: 36px;
}

/* line 411, ../sass/screen.scss */
p {
  font-size: 12px;
  line-height: 20px;
}

/* line 416, ../sass/screen.scss */
a {
  color: #1D97C4;
  text-decoration: none;
}

/* line 421, ../sass/screen.scss */
.h2-customers {
  line-height: 40px;
}

/* line 425, ../sass/screen.scss */
.h2-stats {
  line-height: 48px;
  padding: 25px 0;
}

/* line 430, ../sass/screen.scss */
.h3-link {
  line-height: 40px;
  color: #222228;
  margin: 25px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 435, ../sass/screen.scss */
.h3-carousel {
  padding: 0 25px 50px;
}

/* line 439, ../sass/screen.scss */
.h3-stats {
  line-height: 34px;
  text-align: center;
  padding: 0 0 50px;
}

/* line 445, ../sass/screen.scss */
.emphasis {
  color: #e9552f;
}

/* line 449, ../sass/screen.scss */
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #222228;
  left: 5px;
  position: relative;
}

/* line 459, ../sass/screen.scss */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url(https://meinsta.github.io/auth0-hpg/Hero/atom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* line 467, ../sass/screen.scss */
#hero {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

/* line 474, ../sass/screen.scss */
aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  height: auto;
  bottom: 25%;
  width: auto;
}

/* line 481, ../sass/screen.scss */
.orange.button {
  border: 1px solid #e9552f;
  background: #e9552f;
}

/* line 486, ../sass/screen.scss */
.button {
  font-family: 'FaktProUI-SemiBold';
  font-size: 13px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  color: #fff;
  margin: 5px 0;
}

/* line 501, ../sass/screen.scss */
main {
  height: 100%;
  z-index: 1;
  top: 0;
  position: relative;
}

/* line 507, ../sass/screen.scss */
.carousel {
  background: #F8F8F8;
  height: auto;
  margin: 0 auto;
  width: 100%;
  box-shadow: none;
}

/* line 513, ../sass/screen.scss */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 50px;
}

/* line 520, ../sass/screen.scss */
.text-wrapper {
  padding: 0 25px;
}

/* line 524, ../sass/screen.scss */
.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 530, ../sass/screen.scss */
#container, .new-carousel {
  height: 100%;
  margin: 0;
  width: 100%;
}

/* line 536, ../sass/screen.scss */
.new-image-only .image-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 544, ../sass/screen.scss */
.new-video, body .new-image-only {
  position: relative;
  z-index: 1;
  opacity: 1;
}

/* line 550, ../sass/screen.scss */
.new-image, body .new-video-hide {
  position: absolute;
  opacity: 0;
}

/* line 555, ../sass/screen.scss */
.video-carousel, .image-carousel {
  width: 100%;
  height: 100%;
  display: block;
}

/* transition so that animation is smooth */
/* line 562, ../sass/screen.scss */
.new-video, .new-image {
  transition: all 2s;
}

/* line 566, ../sass/screen.scss */
.new-image-only {
  padding-bottom: 50%;
  height: 0;
}

/* line 571, ../sass/screen.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 576, ../sass/screen.scss */
.container video, .carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 584, ../sass/screen.scss */
.carousel-image {
  transform: scale(1.75);
  padding: 0 !important;
}

/* line 589, ../sass/screen.scss */
.image-carousel .container {
  height: 100%;
  width: 100%;
}

/* line 594, ../sass/screen.scss */
.image-container {
  overflow: hidden;
}

/* line 598, ../sass/screen.scss */
.video-react,
.image-container {
  padding-top: 0 !important;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

/* react styling override */
/* line 607, ../sass/screen.scss */
.video-react-big-play-button, .video-react-control-bar {
  display: none;
}

/* line 611, ../sass/screen.scss */
pre {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  background: rgba(255, 255, 255, 0.5);
}

/* line 619, ../sass/screen.scss */
button {
  background: transparent;
}

/* line 623, ../sass/screen.scss */
button:focus {
  outline: none;
  /* override for browser style */
}

/* line 627, ../sass/screen.scss */
.slide-list-nav-container {
  padding: 40px 60px;
}

/* line 631, ../sass/screen.scss */
.slide-list-nav {
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  padding: 50px 25px 0;
  height: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  scroll-behavior: smooth;
  /*    &:before {
          content: '';
          width: 100%;
          height: $height;
          position: absolute;
          pointer-events: none;
          background: linear-gradient(to left, #F8F8F8, transparent 90%);
      }*/
}
/* line 640, ../sass/screen.scss */
.slide-list-nav::-webkit-scrollbar {
  display: none;
}

/* line 653, ../sass/screen.scss */
.slide-list-nav-wrapper {
  width: 100%;
}

/* line 657, ../sass/screen.scss */
.slide-list-nav-item {
  display: inline-flex;
  align-items: center;
  line-height: 23px;
  font-size: 14px;
  font-family: 'FaktProUI-SemiBold';
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D0D2D3;
  transition: all 0.25s;
  cursor: pointer;
  flex-direction: row;
  height: 60px;
  pointer-events: all;
  border: 1px solid #D0D2D3;
  border-radius: 3px;
  margin: 0 5px;
  padding: 0 25px 0 40px;
}

/* line 669, ../sass/screen.scss */
.slide-list-nav-item.mobile-selected {
  border: 1px solid #222228;
}

/* line 673, ../sass/screen.scss */
.slide-list-nav-item::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: relative;
  top: 0;
  left: -10px;
  background: #D0D2D3;
}

/* line 685, ../sass/screen.scss */
.slide-list-nav-item.selected {
  color: #222228;
}

/* line 689, ../sass/screen.scss */
.slide-list-nav-item.completed {
  color: #000;
}

/* line 693, ../sass/screen.scss */
.slide-list-nav-item.selected::before {
  background: #222228;
}

/* line 697, ../sass/screen.scss */
.slide-list-nav-item.completed::before {
  background: #000;
}

/* line 701, ../sass/screen.scss */
.slide-list-nav-item.completed.use-cases::before {
  background: #40BEEA;
}

/* line 705, ../sass/screen.scss */
.slide-list-nav-item.completed.technologies::before {
  background: #00B08C;
}

/* line 709, ../sass/screen.scss */
.slide-list-nav-item.completed.deployment::before {
  background: #E9CF51;
}

/* line 713, ../sass/screen.scss */
.slide-list-nav-item.completed.customization::before {
  background: #FB9D5E;
}

/* line 717, ../sass/screen.scss */
.slide-list-nav-item.completed.result::before {
  background: #EA5323;
}

/* line 723, ../sass/screen.scss */
.slide video {
  height: auto;
  width: 100%;
}

/* line 728, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 732, ../sass/screen.scss */
.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  top: 0;
  padding: 50px 50px 25px 50px;
}

/* line 739, ../sass/screen.scss */
.cloud-container {
  padding: 25px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* line 744, ../sass/screen.scss */
.cloud-image {
  height: auto;
  width: 25%;
  padding: 0 12.5%;
}

/* line 750, ../sass/screen.scss */
.stats {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* line 755, ../sass/screen.scss */
.stats-column {
  box-sizing: border-box;
  width: auto;
  padding: 0 10px;
}

/* line 761, ../sass/screen.scss */
.availability {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 50%;
  background-image: url(https://meinsta.github.io/auth0-hpg/Hero/BG_map.svg);
}

/* line 767, ../sass/screen.scss */
.risk-based {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70px -20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)), url(https://meinsta.github.io/auth0-hpg/Hero/BG_touch.svg);
}

/* line 773, ../sass/screen.scss */
.stats-column-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

/* line 781, ../sass/screen.scss */
.stats-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
}

/* line 788, ../sass/screen.scss */
.stats-table-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 0 10px 25px;
}

/* line 795, ../sass/screen.scss */
.stats-table-column:first-of-type {
  border-right: 1px solid #E2E2E2;
}

/* line 799, ../sass/screen.scss */
.stats-list {
  font-family: 'FaktProUI-Medium';
  line-height: 28px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.86);
}

/* line 806, ../sass/screen.scss */
.stats-list.small {
  line-height: 25px;
}

/* line 810, ../sass/screen.scss */
.stats-list-detail {
  font-family: 'FaktProUI-Medium';
  line-height: 25px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.86);
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* line 819, ../sass/screen.scss */
.stats-list-cluster {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 825, ../sass/screen.scss */
.stats-list-cluster-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 45px;
  height: 30px;
  margin: 0 0 0 5px;
}

/* line 832, ../sass/screen.scss */
.stats-list-cluster-icon {
  height: 12px;
  width: 12px;
  padding: 0 5px 0;
}
